html {
	background: black;
}

h1 {
	font-size: 150px;
	font-family: monospace, bold;
	color: black;
	-webkit-text-stroke: 2px white;

}

.content p {
  	font-size: 20px;
	font-family: monospace, bold;
	color: black;
	-webkit-text-stroke: 1px white;
}
.content a {
  	font-size: 20px;
	font-family: monospace, bold;
	color: black;
	-webkit-text-stroke: 1px white;
}

p {
  	font-size: 50px;
	font-family: monospace, bold;
	color: black;
	-webkit-text-stroke: 1px white;
}

a {
  	font-size: 45px;
	font-family: monospace, bold;
	color: black;
	-webkit-text-stroke: 1px white;
}
